body{
   background-color: #A7D2CB;
}
hr{
   background-color: rgb(17, 17, 16);
   border-style: none;
   border-top-style: dotted;
   border-width: 6px;
   width:5%;
}
h3{
   color:#D1512D ;
   border-style: none;
   border-width: 0px;
}
